# Local .terraform diretórios
**/.terraform/*

# Arquivos .tfstate
*.tfstate
*.tfstate.*

# Arquivos de log de falhas
crash.log
crash.*.log

# Excluir todos os arquivos .tfvars, que provavelmente contêm dados confidenciais
*.tfvars
*.tfvars.json

# Ignorar os arquivos de substituição, pois eles geralmente são usados ​​para desenvolvimento local
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignorar arquivos de configuração CLI
.terraformrc
terraform.rc

# Ignorar lock files
.terraform.lock.hcl